<div *ngIf="!this.cadastroCliente">
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
      <img style="margin-right: 17px;" src="../../assets/img/balanca.png" width="55" height="55" class="d-inline-block align-top"
        alt="">
      <span class="logo">Clientes</span>
    </a>
  </nav>
  <div class="container-fluid">

    <!-- Input de pesquisa de processos -->
    <div class="row espaçopesquisar">
      <div class="col-2 pt-2 pb-4">
        <input [(ngModel)]="pesquisar" placeholder="pesquisar..." class="form-control" type="text">
      </div>

      <div class="col-1 pt-2 pb-4 ">
        <button type="button" class="btn btn-secondary" (click)="novoCliente()"><i class="fa fa-plus" aria-hidden="true"></i><span class="v">Cadastrar </span></button>
      </div>

      <div class="col-1 pt-2 pb-4 ">
        <button type="button" class="btn btn-secondary"><i class="fa fa-file-o" aria-hidden="true"></i><span class="v">Exportar</span></button>
      </div>
    </div>

    <!-- Lista de Clientes -->
    <div class="list-group">

      <a class="list-group-item list-group-item-action flex-column align-items-start"  *ngFor="let cliente of listaClientes | pesquisarFilter:pesquisar">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{cliente.processo}}</h5>
          <small >{{cliente.tipo}}</small>
        </div>
        <p class="mb-1"><span class="color">Reclamante:</span> {{cliente.reclamante}}</p>
        <p class="mb-1"><span class="color">Reclamada:</span> {{cliente.reclamada}}</p>
        <div *ngIf="cliente.isShowMore">
          <p class="mb-1"><span class="color">Valor: </span>{{cliente.valor}}</p>
          <p class="mb-1"><span class="color">Parcelamento:</span> {{cliente.parcelado}}</p>
          <p class="mb-1"><span class="color">Número de Parcelas: </span>{{cliente.parcelas}}</p>
          <p class="mb-1"><span class="color">Vencimento: </span>{{cliente.vencimento}}</p>
          <p class="mb-1"><span class="color">Status: </span>{{cliente.status}}</p>
        </div>
        <span class="show-more">
          <a (click)="cliente.isShowMore = !cliente.isShowMore">{{!cliente.isShowMore? 'ver mais' : 'ver menos'}}</a>
        </span>
      </a>

    </div>
  </div>
</div>



<!-- Cadastro de clientes -->
<app-cad-clientes *ngIf="this.cadastroCliente" [cadClientes]="this.objCliente"></app-cad-clientes>
